body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3f2a0ae7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.conteiner {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 75px 50px;
    border-radius: 15px;
    color: white;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.linkhome a, .registro a {
    text-decoration: none;
    color: white;
}

header .linkhome a h1 {
    font-size: 24px;
}

.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
}

.centro {
    width: 100%;
}

.compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group-inline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.form-group-inline label {
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    width: 100%;
}

input:hover, select:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

input::placeholder {
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(202, 174, 48);
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(202, 174, 48, 0.7);
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

p {
    margin: 20px 0 0;
    font-size: 20px;
}