body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header, main, footer {
  padding: 30px;
}


/*Usado para o cabeçalho*/
.containerHeader {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  grid-area: header;
  padding: 10px;
  background-color: #3f2a0ae7;
  margin: 0;
  flex-direction: row;
}

.logo {
  margin-right: 150px;
}

.logo, .registro {
  width: 15%;
}

.logo img {
  width: 70px;
}

.menu {
  width: 50%;
}

.menu nav a {
  color: white;
  text-decoration: none;
  padding-right: 30px;
  font-size: 18px;
}

.menu nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.registro {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 0 0px;
}

.registro a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.registro a:hover {
  color: rgba(255, 255, 255, 0.6);
}

/*fim do cabeçalho*/


main {
  grid-area: main;
  background-color: #463b2be7;
}

footer {
  grid-area: footer;
  background-color: #3f2a0ae7;
  text-align: center;
  padding: 20px;
  color: white;
}

footer p {
  color: rgba(255, 255, 255, 0.74);
}

/*Usado no centro*/
.centro {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  background-color: #463b2be7;
  flex-direction: column;
  border-radius: 10px;
}

.texto {
  width: 70%;
  /* Defina a largura da div interna */
  height: 90%;
  /* Defina a altura da div interna */
  background-color: #795f39;
  color: rgba(255, 255, 255, 0.74);
  padding: 20px;
  border-radius: 20px;
  margin: 30px;


  h1 {
    text-align: center;
  }

  p,li {
    padding: 10px;
  }
}

.vendaPacote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  color: rgba(255, 255, 255, 0.74);
}

.produto {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  align-items: center;
}
.produto p{
  margin: 3px;
}



form {

  display: flex;
  flex-direction: column;
  align-items: self-start;
  /* Alinha os itens à esquerda */
  width: 100%;
  max-width: 400px;
  background-color: rgb(221, 135, 135);
  padding: 10px;
  border-radius: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

.form-group-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form-group-inline label {
  margin-right: 10px;
  /* Espaço entre o label e o input */
}

/*Botão de assinatura*/

button {
  background-color: rgb(202, 174, 48);
  width: 50%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.74);
  border: none;
  border-radius: 3px;
  font-size: 17px;
  margin-top: 6px;
}

button:hover {
  background-color: rgb(202, 174, 48, 0.7);
  cursor: pointer;
}

/* comunidade */

.socialMedia {
  text-align: center; 
}

.imgSocialMedia {
  width: 65px;
  margin: 10px; /* Ajusta a margem dos ícones */
}
